_main.aux
_main.blg
_main.bbl
_main.brf
_main.fdb_latexmk
_main.fls
_main.log
_main.out
_main.synctex.gz
_supplementary.aux
_supplementary.bbl
_supplementary.blg
_supplementary.brf
_supplementary.fdb_latexmk
_supplementary.fls
_supplementary.log
_supplementary.out
